#searchedImage{
    width: 300px;
    height: 350px;
}
body{
    flex-wrap: inherit;
}
img{
    flex-direction:center;
     margin-right: 100px;
}


#headerImage{
    width:100%;
    z-index: 100;
}

.body-content{
    background-image: url("https://wallpaperaccess.com/full/1092735.png");
    width:100%;
    opacity: 90%;
    z-index: -1;
}

#poke-prices{
    font-size: 25pt;
}
.subtitle{
    font-size: 40pt;
}

.pokedex{
    width: 100px;
}

.hidden{
    display: none;
}